.app {
  width: 100%;
  display: flex;
  justify-content: center;
}
.app__countries-list-wrapper {
  display: flex;
  flex-flow: column wrap;
  width: 187px;
  margin: 36px 13px 23px 40px;
}
.app__main-content-wrapper {
  width: 560px;
  display: flex;
  flex-flow: column wrap;
  margin: 36px 20px 40px 0;
}
.app__title {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
}
.app__info-wrapper {
  margin-right: 28px;
}
.app__title-2 {
  font-size: 12px;
  font-weight: 600;
  color: #A5A2A2;
  word-spacing: 5px;
}
.app__sub-title {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.31;
}
@media (max-width : 425px) {
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .app__countries-list-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 187px;
    margin: 36px auto 0;
  }
  .app__main-content-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    /* margin: 36px 20px 40px 0; */
  }
  
}
